:root{
    --main-color: #13b770;
    --second-color: #3c2f39;
}
body{
    margin: 0;
    font-family: system-ui;
    direction: rtl;
    background: url(../img/back.jpg) no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
    padding-bottom: 30px;
}
::-webkit-scrollbar {
    width: 13px;
    background: #ced4da;
    border-radius: 25px;
}
::-webkit-scrollbar-thumb {
    background: #13b770;
    border-radius: 25px;
}
hr{
    width: 75%;
}
#btn{
    display: none;
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
    background-color: #15b571;
    cursor: pointer;
    border-radius: 15%;
    position: sticky;
    bottom: 10px;
    right: 10px;
    align-items: center;
    justify-content: center;
}
/* header */
header{
    width: 100%;
    border-bottom: 2px solid var(--second-color);
    text-align: center;
    background: #fff;
    padding-bottom: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
}
header > img {
    width: 145px;
}
header > p{
    font-weight: bold;
}
/* body of the form */
header > h3{
    margin: 15px auto 0;
    width: fit-content;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #000;
}
header > h3::before{
    content: '';
    display: block;
    height: 5px;
    width: 75%;
    background: var(--main-color);
    position: absolute;
    margin: 0px auto;
    border-radius: 25px;
    bottom: 0;
}
.container > form > .employee{
    border: 2px solid var(--second-color);
    margin-top: 20px;
    background: #fff;
}
.container > form > .employee.last{
    padding-bottom: 20px;
}
.container > form > .employee > span{
    display: block;
    width: 100%;
    padding: 5px;
    font-weight: bold;
    border-bottom: 2px solid var(--second-color);
    margin-bottom: 20px;
    text-align: center;
}
.container > form > .employee > .footer{
    text-align: center;
    font-size: x-small;
    font-weight: bold;
    margin-bottom: 15px;
    color: #7d6d6d;
}
.container > form > .employee > .fields{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.container > form > .employee.last > .fields{
    gap: 0 20px;
}
.container > form > .employee.last  > .fields > .field {
    margin-bottom: 0px;
}
.container > form > .employee > .fields > .field {
    position: relative;
    margin-bottom: 20px;
    width: fit-content;
}
.container > form > .employee > .fields > .field input , select{
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 10px;
    outline: none;
    transition: border-color 0.3s;
}
.container > form > .employee > .fields > .field label{
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    padding: 0 5px;
    color: #000;
    font-size: 16px;
    transition: 0.3s;
    pointer-events: none;
    text-align: center;
    font-weight: bold;
}
.container > form > .employee > .fields > .field select:not(:placeholder-shown) + label,
.container > form > .employee > .fields > .field input:not(:placeholder-shown) + label, 
.container > form > .employee > .fields > .field textarea:focus + label, 
.container > form > .employee > .fields > .field textarea:not(:placeholder-shown) + label, 
.container > form > .employee > .fields > .field input:focus + label {
    top: -2px;
    background-color: #fff;
    color: #000;
}
.employee-btns .btns{
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}
.employee .btns .btn{
    width: 50%;
}
/* media screen */
@media (min-width: 768px) {
    .inp-2 > input{
        border-bottom: none !important;
        border-bottom-right-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
    }
    .inp-4 > input{
        border-top: none !important;
        border-top-right-radius: 0px !important;
        border-top-left-radius: 0px !important;
    }
}
@media (max-width: 1199px) {
    .inp-1 > input{
        border-bottom: none !important;
        border-bottom-right-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
    }
    .inp-3 > input{
        border-top: none !important;
        border-top-right-radius: 0px !important;
        border-top-left-radius: 0px !important;
    }
}
@media (max-width: 767px) {
    .inp-1 > input{
        border-bottom: none !important;
        border-bottom-right-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
    }
    .inp-2 > input{
        border-radius: 0px !important;
    }
    .inp-3 > input{
        border-top: none !important;
        border-radius: 0px !important;
    }
    .inp-4 > input{
        border-top: none !important;
        border-top-right-radius: 0px !important;
        border-top-left-radius: 0px !important;
    }
}