body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100vh;
}
.container{
    box-shadow: 3px 3px 9px rgb(167, 167, 167);
    width: 350px;
    height: fit-content;
    border-radius: 25px;
}
.container > .header > .img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container > .header > .img > img {
    width: 237px;
}
.container > .header > .title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 15px;
}
.container > .header > .title > hr{
    width: 100%;
}
.container > .header > .title > div {
    background-color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    position: absolute;
    padding: 5px 13px;
}
.container > form > div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    padding: 10px;  
}
.container > form > div > div{
    position: relative;
    width: 100%;
    transition: all .5s;
}
.container > form > div > div > svg:not(#show){
    position: absolute;
    font-size: 18px;
    top: 14px;
    left: 20px;
    color: #063f26;
}
.container > form > div input{
    width: 100%;
    padding: 10px 10px 10px 50px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 1px solid #13b670;
    transition: all .5s;
}
.container > form > div input.crouse{
    border: 1px solid #dc3545;
}
.container > form > div input:focus{
    box-shadow: 4px 4px #13b670;
    outline: none;
}
.container > form > div input.crouse:focus{
    box-shadow: 4px 4px #dc3545;
    color: #dc3545;
}
.container > form > div input.crouse + svg{
    color: #dc3545;
}
fieldset{
    display: flex;
    gap: 55px;
}
fieldset > .checkbox{
    display: flex;
    gap: 5px;
}
fieldset > .checkbox > label{
    margin-top: -1px;
}
fieldset > a{
    margin-top: -1px;
    color: #000;
    font-size: small;
}
fieldset > a:hover{
    color: #000;
    text-decoration: none;
}
.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 !important;
}
.btn-success, .btn-danger{
    border-radius: 30px;    
}
#show{
    position: absolute;
    right: 20px !important;
    top: 16px;
    font-size: 18px;
    color: #063f26;
    cursor: pointer;
}